

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.box{
    display: flex;
    border-color: #CFD5DB;
    border-width: 1px;
    border-style: solid;
    width: 500px;
    justify-content: center;
    padding: 20px;
    justify-content: center;
    border-radius: 5px;
    flex-direction: column;
    font-family: 'Cairo', sans-serif;
    margin-top: 50px;
    



}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form-wrapper{

    display: flex;
    flex-direction: column;
    
}
.form-control{

    height: 40px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border-color: #CFD5DB;
    border-width: 1px;
    border-style: solid;
    color: black;
    font-size: 14px;
    

}
button{
    background-color: green;
}

.center{
display: flex;
align-self: center;
justify-content: center;
}
.f20{
    font-size: 25px;
    margin-bottom: 20px;
}
.btn{

cursor: pointer;
color: #fff;
background-color: #198754;
transition:all .10s ease-in-out; 
}
.btn:hover{
    background-color: #617646;
    border-color: #617646;
}
label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
}

a{
    text-decoration: none;
    color: #466ff6;
}







 